body{
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;
  h1{
    color: goldenrod;
  }
  h3{
    color: green;
  }

 
    .title{
      
      padding: .5rem 0;
     
      
    }
    
    img{
      width: 12rem;
      height: 16rem;
      
    }
  
}