body{
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  h1{
    color: goldenrod;
  }
  h3{
    color: red;
  }
button{
 
  height: 2rem;
  border-radius: 5px;
 
}
 .books{
    .book{
    display: flex;
    padding: 15px 0;

    a{
    color: #e6e342;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
     }
      img{
      
      border: 5px solid #555;
      border-radius: 5px;
    width: 12rem;
      height: 16rem;
      box-shadow: 3px 5px 5px 2px #000;
      
        }
    }
    .info{
    margin: 0 0 0 15px;
    .title{
      font-size: 1.5rem;
      font-weight: bold;
      
    }
     .author{
      padding: 5px 0;
      color: #fff;
    font-style: italic;
     }
     .isLiked{
      span{

        padding: 0 10px;
      }
      .LIKED
      {

        color: gold;
      }
       
     }
      }
      
    
    }
     
   }
  
}